@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;700&display=swap");

/* --------------GENERAL LAYOUT-------------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* So padding doesn't affect the width */
}

body {
  font-family: "Open Sans", sans-serif, Arial, "Helvetica Neue", Helvetica;
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: 20242b;
  font-family: "Montserrat", sans-serif, Georgia, Times, "Times New Roman";
}

img {
  max-width: 100%; /* Image can be as wide as its container but no wider */
  height: auto;    /* Image height will scale in proportion to its width */
  display: block;  /* Ensures that the img element behaves like a block */
  margin-bottom: 20px; /* Add some space below each image */
}

/* --------------NAVIGATION BAR-------------- */

header {
  background-color: #ffffff;
  color: #3b3b3b;
  padding: 0;
  text-align: left;
}

nav {
  display: flex;
  align-items: center; /* Aligns flex items vertically in the center */
  height: 40px;
  padding: 0;
  justify-content: flex-start;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Make the ul a flex container */
  align-items: center; /* Vertically centers the flex items (the li's) */
  width: 100%; /* Ensures the ul spans the full width of the nav */
  height: 100%;
  justify-content: flex-start;
}

nav ul li {
  display: block;
  text-decoration: none;
  height: 100%;
  color: #1b1b1b; /* normal text color */
}

.hamburger img {
  height: 22px;
  width: 22px;
  margin: 6px;
}

nav ul li a {
  text-decoration: none;
  color: #1b1b1b;
  height: 100%;
  padding: 0 20px; /* Makes it easier to click on the links */

  /* Vertical centering */
  display: flex; /* If it contains an image or similar */
  align-items: center; /* Align the contents vertically */
  justify-content: center; /* Align the contents horizontally */
}

/*----- Hover and Active state -----*/

/* Hover state for nav links */
nav ul li a:hover {
  background-color: #e0e0e0; /* Slightly different background color for hover */
  color: #333; /* change the text color on hover */
}
/* Active state for nav links */
nav ul li.active a {
  background-color: #3b4251; /* More distinct background color for active state */
  color: #e0e0e0; /* Text color for active state */
}

/*----- Hamburger icon (mobile view) -----*/

/* Show the hamburger icon only in mobile view */
@media (max-width: 768px) {
  nav ul {
    flex-direction: column; /* Stacks the flex items (the li's) vertically */
    align-items: flex-start; /* Aligns the flex items to the start of the flex container */
    position: relative; /* Context for z-index */
    z-index: 1000; /* High value to ensure it's on top */
  }
  nav ul li a {
    background-color: white; /* Sets background color for all the links */
    height: 40px; /* Sets the height of the links */
  }
  nav ul li {
    display: none;
    width: 100%; /* Ensures each li spans the full width of the ul */
  }
  nav ul li.hamburger {
    display: flex;
    align-items: center; /* Vertically centers the content (the img) */
    justify-content: flex-start; /* Aligns the hamburger icon to the left */
    width: 100%;
  }
  nav ul li.active a {
    background-color: #3b4251; /* Keeps the active state background color */
  }
  nav ul li.visible {
    display: block; /* Displays li as block when hamburger is clicked */
    z-index: 1000; /* High value to ensure they're on top */
  }
}

/* Ensure regular nav items display normally above 768px */
@media (min-width: 768px) {
  nav ul li {
    display: block;
  }
  nav ul li.hamburger {
    display: none;
  }
}

/* -----------------HEADER----------------- */

header h1 {
  /* Background image */
  height: 170px;
  background-image: url("../images/HeaderBackground.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  margin: 0;
  width: 100%;
  padding: 40px;
  text-align: bottom;
  /* Vertical centering */
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  /* Glowing effect */
  color: #f1f1f1;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.5), 0 0 40px #ffffff,
    0 0 50px #ffffff, 0 0 70px #ffffff, 0 0 110px #ffffff;
}

header ul {
  background-color: #bdbdbd;
}

/* --------------CONTENT AREA-------------- */

main {
  display: flex;
  flex-wrap: wrap;
}

article h2 {
  padding-top: 40px;
  padding-bottom: 20px;
}

#timestamp {
  font-style: italic;
  color: #818181;
  font-size: 0.8em;
  text-align: right;
}

article p {
  padding-top: 10px;
  padding-bottom: 10px;
}

section#articles {
  margin: 20px 0;
  flex: 1 0 75%; /* <aside> snapping to the side */
}

article {
  background-color: #ffffff;
  padding: 0 20px 20px 20px;
  margin-bottom: 20px;
  box-shadow: none;
}

article h4 {
  margin-top: 30px; /* Adjust as needed */
  margin-bottom: 10px; /* Gives space after the heading before text starts */
}

/*---------Sketches---------*/
.sketches img {
  max-width: 300px;
}

/*---------Mockups---------*/
.mockups {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.mockups img {
  max-width: 350px; /* This maintains the aspect ratio of the images */
}


/*---------Car Gallery---------*/

.car-gallery {
  display: flex; /* This will create a flex container */
  flex-direction: row; /* This will stack the flex items (images) vertically */
  gap: 20px; /* This adds space between the images */
}

.car-gallery img {
  max-width: 80px; /* This maintains the aspect ratio of the images */
}


/* --------Logbook Entries-------- */

.log-entry {
  background-color: #f9f9f9;
  border-left: 5px solid #3b4251; /* A colored border on the left for visual interest */
  margin-bottom: 30px;
  padding: 20px;
}

.log-entry header h3 {
  margin-bottom: 10px;
  color: #20242b; /* Dark color for the title */
}

.log-entry .log-date {
  font-style: italic;
  color: #818181;
  margin-bottom: 5px; /* Space below the date */
  font-size: 0.8em;
}

.log-entry .hours-worked {
  font-weight: bold;
  margin-top: 10px;
  font-size: 0.8em;
}

/* -----------------SIDEBAR----------------- */

aside {
  background-color: #ffffff;
  height: 400px;
  padding: 30px 10px 10px 10px;
  flex: 1 0 25%; /* <aside> snapping to the side */
}

/* conditional layout change at 800px */
@media (max-width: 800px) {
  section#articles,
  aside {
    flex-basis: 100%; /* Make both the article and aside take full width of the flex container */
  }
}

aside div {
  background-color: #ffffff;
  height: 250px;
  padding: 0;
  margin-bottom: 20px;
  box-shadow: 0 0 15px #747474; /* shadow effect */
  border-radius: 15px; /* round edges */
}

aside h3 {
  background-color: #3b4251;
  width: 100%;
  padding: 10px;
  color: #edf1ff;
  /* round edges */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

aside ul {
  height: 250px;
  list-style-type: none;
}

aside ul li {
  display: block;
}

aside p {
  background-color: #ffffff;
  padding: 10px 10px 0 10px;
  margin: 0;
}

/* -----------------FOOTER----------------- */
footer {
  background-color: #3b4251;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  position: relative;
  width: 100%;
}

footer .copyright,
footer #impressum {
  max-width: 60%; /* Limits width to prevent it from squeezing the logo out */
  margin: 2px 0;
}

footer .copyright {
  font-size: 0.8rem; /* Slightly smaller font for the copyright text */
}

#impressum h3 {
  font-size: 0.5rem; /* Slightly smaller font for the 'Impressum' heading */
  margin-bottom: 2px; /* Adds a little space under the 'Impressum' heading */
}

#impressum p {
  font-size: 0.5rem; /* Slightly smaller font for the impressum details */
}

#logo {
  height: 27.4px;
  width: 100px;
  margin: 20px; /* Ensures some space between text and logo */
}